.table-body {
  background-color: #fbefcc;
}
input,
textarea {
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: grey; /* Placeholder text color */
  font-size: 14px; /* Placeholder text font size */
}

/* Style for the create button */
.create-button {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 5px 10px; /* Padding */
  cursor: pointer; /* Cursor style */
  border-radius: 3px; /* Border radius */
}

/* Hover effect for the create button */
.create-button:hover {
  background-color: #388e3c; /* Darker green background color on hover */
}
