.table-body {
  background-color: #fbefcc;
}
input,
textarea {
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: grey;
  font-size: 12px;
}

/* Style for the create button */
.create-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

/* Hover effect for the create button */
.create-button:hover {
  background-color: #388e3c;
}
